
# Ignore object files
*.o

# Ignore executable contents
bin/*
# Exception to the rule (keep directory)
!bin/.gitkeep 

# Ignore measurement data
measurement/*
# Exception to the rule (keep directory)
!measurement/.gitkeep 
